body {
    background-color: rgb(35, 35, 35);
}

h1 {
    margin-bottom: 0;
    color: rgb(91, 79, 255);
    font-size: 120px;
}

li {
    margin-bottom: 20px;
}

#header-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 49vh 49vh;
    column-gap: 40px;
    row-gap: 0px;
    grid-template-areas: 
        "header navbar"
        "contacts summary";
}

#navbar {
    grid-area: navbar;
    align-content: center;
    justify-self: end;
    margin-top: 30px;
    margin-right: 40px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    list-style-type: none;
    font-size: 25px;
    padding: 0;
}

#title-container {
    grid-area: title;
    align-content: center;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-top: 0px;
    margin-left: 40px;
}

#tagline-container {
    display: flex;
    justify-content: space-around;
    max-width: 710px;
    min-width: 200px;
    margin-left: 0px;
}

#titlePt1 {
    line-height: 0px;
}

.tagline {
    color: rgb(255, 255, 255);
    font-size: 25px;
}

#home-body {
    grid-area: summary;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    color: rgb(255,255,255);
    font-size: 20px;
    min-width: 615px;
    max-width: 888px;
}

#contact-body {
    grid-area: contacts;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    /*align-content: center;*/
    margin-top: 25%;
    margin-left: 40px;
    /*justify-self: center;*/
    color: rgb(255,255,255);
    font-size: 20px;
    min-width: 615px;
    max-width: 888px;
}

.navBarItem {
    color: rgb(255,255,255);
    text-decoration: none;
}

.navBarItem:hover {
    color: rgb(91, 79, 255);
}

.fa {
    padding: 10px;
    padding-top: 20px;
    font-size: 100px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  
  .fa:hover {
    color: rgb(91, 79, 255);
  }
  
  .fa-linkedin {
    background: None;
    color: white;
    margin-right: 5px;
  }
  
  .fa-github {
    background: None;
    color: white;
  }

  .pdf {
    width: 100%;
    aspect-ratio: 4 / 3;
  }